.header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .logo {
    display: flex;
    max-width: 100px;
    svg {
      width: 100%;
    }
  }
  &__menu {
    width: 100%;
    display: flex;
    align-items: center;
    &-close {
      display: none;
      margin-left: auto;
    }
    &-list {
      margin: 0 auto;
      padding: 0;
      display: flex;
      gap: 50px;
      &-item {
        list-style: none;
      }
      &-link {
        font-size: 13.5px;
        font-weight: 600;
        font-family: 'Inter', sans-serif;
        text-decoration: none;
        color: #000;
      }
    }
    &-auth {
      display: flex;
      gap: 7px;
      font-family: 'Inter', sans-serif;
      &-login {
        font-size: 13.5px;
        padding: 7px 27px;
        color: #fff;
        background-color: #ff9255;
        border-radius: 12px;
        line-height: 150%;
      }
      &-reg {
        font-size: 13.5px;
        padding: 7px 27px;
        color: #fff;
        background-color: #1d4812;
        border-radius: 12px;
        line-height: 150%;
      }
    }
  }

  .burger {
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #676767;
    &__item {
      width: 4.5px;
      height: 4.5px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

@media (max-width: $lg) {
  .header {
    .logo {
      max-width: 200px;
    }
    &__menu {
      width: auto;
      position: fixed;
      top: 0;
      left: 0;
      flex-direction: column;
      align-items: start;
      &-close {
        display: block;
      }
    }
    .burger {
      display: flex;
    }
  }
}
